
.intro{
  margin: 84px auto;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.intro__title{
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.intro__text{
  max-width: 738px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 1px;
}

.intro__text_end{
  margin: 0;
  text-align: end;

}

.intro__text_size_small{
  max-width: 772px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;

}



@media (min-width: 576px) and (max-width:768px){
  .intro{
    max-width:95%;
    margin: 20px auto 0;
  }

  .intro__title{
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
    letter-spacing: -1px;
  }

  .intro__text{
    max-width: 720px;
  }
  .intro__text_size_small{
    max-width: 720px;

  }


}


@media (min-width:320px) and (max-width:576px){
  .intro{
    margin: 35px 15px ;
    max-width: 100%;

  }

  .intro__title{
    font-size: 32px;
    line-height: 35px;


  }

  .intro__text{
    line-height: 30px


  }
}