.page{
  display: flex;
  flex-direction: column;
  color: #fff;
  max-width: 987px;
  margin: 35px auto;
  font-family: 'Inter', sans-serif;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}




@media (max-width: 768px) {
  .page{
    width: 100%;

  }
}