
.place{
  display: grid;
  grid-template-columns:1fr ;

}
.place__grid{
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 152px 480px 48px;
  gap: 50px 40px;
  margin-bottom: 85px;
  font-family: 'Inter', sans-serif;

}

.place__Title{
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 430px;
  margin: 0;
}

.place__website{
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.place__span-artist{
  color:#aaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.place__image{
  width: 100%;
  box-shadow: 10px 10px 25px #000;
}

.place__image:hover{
  opacity: 0.5;
  cursor: url('../images/cursor.png') 0 0, auto;

}

.place__paragraphs{
  display: flex;
  flex-direction: column;
  max-width: 484px;
}

.place__paragraph{
  margin:0;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1px;
}

.place__frame{
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  max-width: 289px;
  box-shadow: 5px 5px 10px 0px #00000040;
  border-radius: 5px;
}

.place__frame:hover{
  background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
  cursor: url('../images/cursor.png') 0 0, auto;
}

.place__frame-text{
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

}

.place__catatumbo{
  margin-top: 95px;
}

.place__muramvya{
  max-width: 484px;
}

@media (max-width: 768px){
  .places{
    row-gap: 50px;
  }

  .place__grid{
    grid-template-columns: 340px 352px;
    grid-template-rows: 89px 342px 48px 85px;
    margin: auto;
    gap: 38px 15px;

  }
  .place__Title{
    font-size: 42px;
    line-height: 46px;
    letter-spacing: 0%;

  }
  .place__paragraph{
    font-size: 16px;
  }

  .place__paragraphs{
    grid-column: 2/3;
    grid-row:2/5 ;
  }

  .place__span-artist{
    font-size: 12px;
    letter-spacing: 12%;
    text-transform: uppercase;
  }

  .place__burundy{
    grid-template-rows: auto;
  }

  .place__catatumbo{
    margin-bottom: 47px;
  }
}


@media (max-width: 320px){
  .place__grid{
    display: flex;
    flex-direction: column;
  }

  .place__Title{
    max-width: 288px;
    margin: auto;

  }
  .place__website{
    max-width: 288px;
    margin:auto 15px;

  }

  .place__span-artist{
    margin-bottom: 15px;
  }

  .place__paragraph{
    max-width: 288px;
    margin: 15px auto;
  }

  .place__frame{
    margin: auto 15px;
  }
}